input {
    width: 170px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    color: white;
}

